<h3>Iniciar Sesión<h3>

    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
        <div>
            <label for="email">
                Email
            </label>
            <input id="email" type="text" formControlName="email">
        </div>
        <div>
            <label for="password">
                Password
            </label>
            <input id="password" type="password" formControlName="password">
        </div>
        <button type="submit" class="btn btn-primary">Acceder</button>
    </form>

