<h3>Nuevo propietario<h3>

		<form [formGroup]="newOwnerForm" (ngSubmit)="onSubmit(newOwnerForm.value)">
			<div>
				<label for="name">
           Nombre
         </label>
				<input id="name" type="text" formControlName="name">
      </div>
				<div>
					<label for="surnames">
           Apellidos
         </label>
					<input id="surnames" type="text" formControlName="surnames">
      </div>
					<div>
						<label for="fiscalCode">
           DNI
         </label>
						<input id="fiscalCode" type="text" formControlName="fiscalCode">
      </div>
						<div>
							<label for="telephone">
           Teléfono
         </label>
							<input id="telephone" type="text" formControlName="telephone">
      </div>
							<div>
								<label for="email">
           Email
         </label>
								<input id="email" type="text" formControlName="email">
      </div>




								<div>
									<label for="address">
         Dirección
         </label>
									<input id="address" type="text" formControlName="address">
         </div>
									<button class="button" type="submit">Enviar</button>

		</form>