<style>
	@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
</style>

<a [routerLink]="['/']">
	<h1 class="logo">Trastify</h1>
</a>


<div>
	<span *ngIf="isSignedIn; else signIn">
		<a (click)="logout()" style="color: white; margin-right: 20px;">Cerrar Sesión</a>
	</span>
	<ng-template #signIn>
		<a routerLink="login" style="color: white; margin-right: 20px;">Iniciar Sesión</a>
	</ng-template>

	<a class="button fancy-button" (click)="signup()"><i class="material-icons">shopping_cart</i>Quiero crear mi
		anuncio</a>
<!--	<a class="button fancy-button" routerLink="signup"><i class="material-icons">shopping_cart</i>Quiero crear mi
		anuncio</a> -->
</div>